.tab-container {
  height: 40px;
  margin-left: 380px;
}
.tab-items {
  font-family: 'HK Grotesk';
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;
}

.links {
  height: 40px;
  width: 200px;
  border: 1px solid #d7dfe9;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #171f46;
  font-family: 'HK Grotesk';
  font-style: normal;
  text-decoration: none;
  padding-top: 5px;
}
.link-item {
  list-style-type: none;
  display: flex;
  align-items: center;
  cursor: pointer;
}
